---
- hosts: docker
  tasks:
    - import_role:
        name: services
        tasks_from: docker
  tags: docker

- hosts: edge
  roles:
    - traefik
    - portainer

- hosts: worker
  roles:
    - dashy
    - gatus
    - jenkins
    - syncthing
    - paperless
    - alltube
    - registry
    - qbittorrent
    - jellyfin
    - authelia
    - rss_my_ass
    - monitoring
    - speedtest
    - kanboard
    - etherpad
    - ttrss
    - nextcloud
    - rpgbasement
    - rss_bridge
    - tandoor

- hosts: docker
  tasks:
    - import_role:
        name: services
        tasks_from: cleanup
