---
- hosts: docker
  tasks:
    - import_role:
        name: services
        tasks_from: docker
  tags: docker

- hosts: swarm
  roles:
    - traefik
    - authelia
    - dashy
    - gatus
    - cv
    - slides
    - blog
    - paperless
    - alltube
    - registry
    - jenkins
    - ttrss
    - tandoor
    - rpgbasement
    - kanboard
    - etherpad
    - jellyfin
    - nextcloud
    - monitoring
    - qbittorrent

    # - syncthing
    # - portainer
    # - rss_my_ass
    # - speedtest
    # - rss_bridge

- hosts: docker
  tasks:
    - import_role:
        name: services
        tasks_from: cleanup
