---
version: '21'
dns: 
  fe: cloud.{{ domain }}
exposed_port: 80
zfs:
  app: nextcloud/app
  data: nextcloud/data
  db: nextcloud/db
healthcheck_url: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  37393662633465346366613735636634316237333330666132363261643638663039383036613863
  6137376132626238323263343661663261653766626663350a656334346134633164316466383332
  63326164346436306461396261366661353965356230646433363435633961373265363661653538
  6532633734653033650a663531393236303533356337396333306461323765383632383637316536
  65356662366634326634393739343137303834663035333033633231306435386362313931633538
  39626661333639346561366532343163316537383932616136373938363939353666356261363064
  316433663138626531363536303665666236
db_root_pass: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  30303030323531623730353238636561303763336239323762376364303232373238663336623065
  3434346237653631336535313339323965373736613666640a663532363430363537666564376563
  38666265366331383535306464333638623665626233346263306438303932666266363366323530
  3730393238343634350a323538383930343765323738333032333364656337636330363732646135
  33343331623265313337336432656334653562613437623932326562663731383438

db_pass: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  37613736313438376430303833333433396266636363376335353264613762366265646162353033
  6336356361346432343930323864616662646465666236340a313438353933366530623431613231
  38336465346435643333393466626631383163383138353864363233623832313761383366363062
  6630636637633730370a323235383437656432383730626465366339353730396238316234613731
  32343039373035653161633737633032366162636432623030653631363865333932
