---
version: "23.0.6"
dns:
  fe: cloud.{{ domain }}
exposed_port: 80

zfs:
  app: nextcloud/app
  data: nextcloud/data
  mysql_dump: nextcloud/mysql_dump

healthcheck_url: "{{ vault_healthcheck_url }}"
maintenance_healthcheck_url: "{{ vault_maintenance_healthcheck_url }}"
db_root_pass: "{{ vault_db_root_pass }}"
db_pass: "{{vault_db_pass }}"
