{{ ansible_managed | comment }}
---
global:
  resolve_timeout: 1m
  slack_api_url: '{{ alertmanager.discord_webhook }}'

route:
  receiver: 'null'
  routes:
  - match:
      severity: warning
    receiver: null
  - match:
      severity: page
    receiver: ntfy
{% raw %}
receivers:
- name: 'null'
- name: 'ntfy'
  webhook_configs:
  - url: https://derpy.testchamber.one/alerts
    send_resolved: true
    http_config:
      basic_auth:
        username: wundor
{% endraw %}
        password: {{ vault_ntfy_pass }}
{% raw %}
- name: 'discord_webhook'
  webhook_configs:
  - url: http://discord:9094
    send_resolved: true
{% endraw %}
