{{ ansible_managed | comment }}
---
global:
  resolve_timeout: 1m
  slack_api_url: '{{ alertmanager.discord_webhook }}'

route:
  receiver: 'null'
  routes:
  - match:
      severity: warning
    receiver: null
  - match:
      severity: page
    receiver: discord_webhook
{% raw %}
receivers:
- name: 'null'
- name: 'discord_webhook'
  webhook_configs:
  - url: http://discord:9094
    send_resolved: true
{% endraw %}