---
{{ ansible_managed | comment }}
version: "{{ compose_version }}"
services:
  broker:
    image: redis:6
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
    networks:
      - default

  gotenberg:
    image: thecodingmachine/gotenberg:7.4
    # environment:
      # DISABLE_GOOGLE_CHROME: 1
    networks:
      - default

  tika:
    image: ghcr.io/paperless-ngx/tika:latest
    networks:
      - default

  postgres:
    image: postgres:13
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U postgres']
    volumes:
      - type: volume
        source: postgres
        target: /var/lib/postgresql/data
      {{ remote_volume }}
        source: postgres_dump
        target: /dump
    networks:
      - default
    environment:
      POSTGRES_DB: {{ service }}
      POSTGRES_USER: {{ service }}
      POSTGRES_PASSWORD: {{ db_pass }}

  {{ service }}:
    image: ghcr.io/paperless-ngx/paperless-ngx:{{ version }}
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://localhost:8000']
    volumes:
      - type: volume
        source: app
        target: /usr/src/paperless/data
      {{ remote_volume }}
        source: docs
        target: /usr/src/paperless/media
    environment:
      PAPERLESS_TIKA_ENABLED: '1'
      PAPERLESS_CONSUMER_DELETE_DUPLICATES: 'true'
      PAPERLESS_SECRET_KEY: '{{ secret_key }}'
      PAPERLESS_DBHOST: 'postgres'
      PAPERLESS_DBNAME: '{{ service }}'
      PAPERLESS_DBUSER: '{{ service }}'
      PAPERLESS_DBPASS: '{{ db_pass }}'
      PAPERLESS_TIKA_GOTENBERG_ENDPOINT: 'http://gotenberg:3000'
      PAPERLESS_TIKA_ENDPOINT: 'http://tika:9998'
      PAPERLESS_REDIS: 'redis://broker:6379'
      PAPERLESS_OCR_LANGUAGE: 'rus+eng'
      PAPERLESS_OCR_LANGUAGES: 'rus eng'
      PAPERLESS_OCR_THREADS: '2'
      PAPERLESS_TIME_ZONE: 'Europe/Moscow'
    networks:
      - {{ traefik_network }}
      - default
    deploy:
      labels:
        {{ traefik_default_labels }}

volumes:
  app:
  docs:
    {{ nfs_volume }}
      device: ':/{{ zfs_pool }}/{{ zfs.docs }}'
  postgres:
  postgres_dump:
    {{ nfs_volume }}
      device: ':/{{ zfs_pool }}/{{ zfs.postgres_dump }}'

networks:
  {{ traefik_network }}:
    external: true
