---
{{ ansible_managed | comment }}
version: "{{ compose_version }}"
services:
  broker:
    image: redis:6
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
    deploy:
      {{ placement }}
    networks:
      - default

  gotenberg:
    image: thecodingmachine/gotenberg:6
    environment:
      DISABLE_GOOGLE_CHROME: 1
    deploy:
      {{ placement }}
    networks:
      - default

  tika:
    image: apache/tika
    deploy:
      {{ placement }}
    networks:
      - default

  db:
    image: postgres:13
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U postgres']
    volumes:
      - type: volume
        source: {{ service }}_postgres
        target: /var/lib/postgresql/data
      {{ volume_nocopy }}
        source: {{ service }}_postgres_dump
        target: /dump
    networks:
      - default
    environment:
      POSTGRES_DB: {{ service }}
      POSTGRES_USER: {{ service }}
      POSTGRES_PASSWORD: {{ db_pass }}
    deploy:
      placement:
        constraints:
          - node.labels.scope==db

  {{ service }}:
    image: jonaswinkler/paperless-ng:{{ version }}
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://localhost:8000']
    volumes:
      {{ volume_nocopy }}
        source: {{ service }}_app
        target: /usr/src/paperless/data
      {{ volume_nocopy }}
        source: {{ service }}_docs
        target: /usr/src/paperless/media
    environment:
      PAPERLESS_TIKA_ENABLED: '1'
      PAPERLESS_CONSUMER_DELETE_DUPLICATES: 'true'
      PAPERLESS_SECRET_KEY: '{{ secret_key }}'
      PAPERLESS_DBHOST: 'db'
      PAPERLESS_DBNAME: '{{ service }}'
      PAPERLESS_DBUSER: '{{ service }}'
      PAPERLESS_DBPASS: '{{ db_pass }}'
      PAPERLESS_TIKA_GOTENBERG_ENDPOINT: 'http://gotenberg:3000'
      PAPERLESS_TIKA_ENDPOINT: 'http://tika:9998'
      PAPERLESS_REDIS: 'redis://broker:6379'
      PAPERLESS_OCR_LANGUAGE: 'rus+eng'
      PAPERLESS_OCR_LANGUAGES: 'rus eng'
      PAPERLESS_OCR_THREADS: '2'
      PAPERLESS_TIME_ZONE: 'Europe/Moscow'
    networks:
      - {{ traefik_network }}
      - default
    deploy:
      {{ placement }}
      labels:
        {{ traefik_default_labels }}

volumes:
  {{ service }}_postgres:
{% for (key,value) in zfs.items() %}
  {{ service }}_{{ key }}:
    {{ nfs_volume }}
      device: ':/{{ zfs_pool }}/{{ value }}'
{% endfor %}

networks:
  {{ traefik_network }}:
    external: true
