---
- set_fact:
    service: '{{ role_name }}'

- import_role:
    name: services
    tasks_from: prepare

- name: Copy whitelist
  copy:
    src: 'whitelist.txt'
    dest: '{{ service_path }}/whitelist.txt'
  notify:
    - restart_main_service

- import_role:
    name: services
    tasks_from: uplift
