---
{{ ansible_managed | comment }}
version: '{{ compose_version }}'
services:
  {{ service }}:
    image: wangqiru/ttrss:{{ version }}
    environment:
      - SELF_URL_PATH=https://{{ dns }}/
      - DB_PASS={{ db_pass }}
      - DB_HOST=postgres
    volumes:
      - feed_icons:/var/www/feed-icons/
    networks:
      - {{ traefik_network }}
      - default
    deploy:
      {{ placement }}
      labels:
        {{ traefik_default_labels }}

  mercury: # set Mercury Parser API endpoint to `service.mercury:3000` on TTRSS plugin setting page
    image: wangqiru/mercury-parser-api:latest
    deploy:
      {{ placement }}

  postgres:
    image: postgres:13-alpine
    environment:
      - POSTGRES_PASSWORD={{ db_pass }}
    volumes:
      {{ volume_nocopy }}
        source: {{ service }}_db
        target: /var/lib/postgresql/data
    deploy:
      {{ placement }}

volumes:
  feed_icons:
{% for (key,value) in zfs.items() %}
  {{ service }}_{{ key }}:
    {{ nfs_volume }}
      device: ':/{{ zfs_pool }}/{{ value }}'
{% endfor %}

networks:
  {{ traefik_network }}:
    external: true