{{ ansible_managed | comment }}
---
version: '{{ compose_version }}'
services:
  {{ service }}:
    image: wangqiru/ttrss:{{ version }}
    environment:
      - SELF_URL_PATH=https://{{ dns.fe }}/
      - DB_PASS={{ db_pass }}
      - DB_HOST=postgres
    volumes:
      - feed_icons:/var/www/feed-icons/
    networks:
      - {{ traefik_network }}
      - default
    deploy:
      labels:
        {{ traefik_default_labels }}

  mercury: # set Mercury Parser API endpoint to `service.mercury:3000` on TTRSS plugin setting page
    image: wangqiru/mercury-parser-api:latest
    networks:
      - default

  postgres:
    image: postgres:13-alpine
    environment:
      - POSTGRES_PASSWORD={{ db_pass }}
    volumes:
      - type: volume
        source: postgres
        target: /var/lib/postgresql/data
      {{ remote_volume }}
        source: postgres_dump
        target: /dump
    networks:
      - default

volumes:
  feed_icons:
  postgres:
{% for (key,value) in zfs.items() %}
  {{ key }}:
    {{ nfs_volume }}
      device: ':/{{ zfs_pool }}/{{ value }}'
{% endfor %}

networks:
  {{ traefik_network }}:
    external: true