---
{{ ansible_managed | comment }}
version: "{{ compose_version }}"
services:
  {{ service }}:
    image: twinproduction/gatus:{{ version }}
    volumes:
      - {{ service_path }}/config.yml:/config/config.yaml
    deploy:
      {{ placement }}
      labels:
        {{ traefik_default_labels }}
    networks:
      - {{ traefik_network }}

networks:
  {{ traefik_network }}:
    external: true
