# yamllint disable rule:comments-indentation
---
host: 0.0.0.0
port: {{ exposed_port }}

theme: dark

server:
  read_buffer_size: 4096
  write_buffer_size: 4096
  path: ''
log_level: debug
log_format: text
jwt_secret: {{ jwt_secret }}

default_redirection_url: https://{{ dns.fe }}/

totp:
  issuer: authelia.com
  period: 30
  skew: 1

authentication_backend:
  disable_reset_password: false
  refresh_interval: 5m

  file:
    path: /config/users_database.yml
    password:
      algorithm: argon2id
      iterations: 1
      key_length: 32
      salt_length: 16
      memory: 1024
      parallelism: 8

access_control:
  default_policy: deny

  networks:
    - name: internal
      networks:
        - 192.168.0.0/16

  rules:
    - domain:
        - ping.{{ lan }}
        - hub.{{ lan }}
        - rss-my-ass.{{ lan }}
        - registry.{{ lan }}
        - reg.{{ lan }}
        - t.{{ lan }}
        - sync.{{ lan }}
        - p2p.{{ lan }}
      policy: one_factor

session:
  name: authelia_session
  domain: {{ domain }}
  same_site: lax
  expiration: 1h
  inactivity: 5m
  remember_me_duration: 1M

regulation:
  max_retries: 3
  find_time: 2m
  ban_time: 5m

storage:
  local:
    path: /config/db.sqlite3

notifier:
  disable_startup_check: false
  filesystem:
    filename: /config/notification.txt
