---
{{ ansible_managed | comment }}
version: "{{ compose_version }}"
services:
  {{ service }}:
    image: kanboard/kanboard:{{ version }}
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://localhost']
    volumes:
      {{ volume_nocopy }}
        source: {{ service }}_app
        target: /var/www/app/data
      {{ volume_nocopy }}
        source: {{ service }}_plugins
        target: /var/www/app/plugins
    deploy:
      {{ placement }}
      labels:
        {{ traefik_default_labels }}
    networks:
      - {{ traefik_network }}

volumes:
{% for (key,value) in zfs.items() %}
  {{ service }}_{{ key }}:
    {{ nfs_volume }}
      device: ':/{{ zfs_pool }}/{{ value }}'
{% endfor %}

networks:
  {{ traefik_network }}:
    external: true
