---
{{ ansible_managed | comment }}
version: "{{ compose_version }}"
services:
  {{ service }}:
    image: kanboard/kanboard:{{ version }}
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://localhost']
    volumes:
      - type: volume
        source: app
        target: /var/www/app/data
      - type: volume
        source: plugins
        target: /var/www/app/plugins
    deploy:
      labels:
        {{ traefik_default_labels }}
    networks:
      - {{ traefik_network }}

volumes:
  app:
  plugins:

networks:
  {{ traefik_network }}:
    external: true
