---
- block:
    - name: Create a domain
      digital_ocean_domain:
        name: '{{ domain }}'
        oauth_token: '{{ do_auth_token }}'
        state: present
      run_once: true

    - name: Create A record for domain
      community.digitalocean.digital_ocean_domain_record:
        oauth_token: '{{ do_auth_token }}'
        state: present
        domain: '{{ domain }}'
        type: A
        name: '@'
        data: '{{ public_ip }}'
      run_once: true

    - name: Create A records for internal hosts
      community.digitalocean.digital_ocean_domain_record:
        oauth_token: '{{ do_auth_token }}'
        state: present
        domain: '{{ domain }}'
        type: A
        name: '{{  inventory_hostname.split(".")[0] | lower }}.lan'
        data: '{{ ansible_host }}'

    - name: Create A record for ingress host
      community.digitalocean.digital_ocean_domain_record:
        oauth_token: '{{ do_auth_token }}'
        state: present
        domain: '{{ domain }}'
        type: A
        name: 'lan'
        data: "{{ hostvars[groups['edge'][0]]['ansible_host'] }}"
      run_once: true

    - name: Create CNAME record for public services
      community.digitalocean.digital_ocean_domain_record:
        oauth_token: '{{ do_auth_token }}'
        state: present
        domain: '{{ domain }}'
        type: CNAME
        name: '*'
        data: '{{ domain }}'
      run_once: true

    - name: Create CNAME record for lan services
      community.digitalocean.digital_ocean_domain_record:
        oauth_token: '{{ do_auth_token }}'
        state: present
        domain: '{{ domain }}'
        type: CNAME
        name: '*.lan'
        data: '{{ lan }}'
      run_once: true

  delegate_to: localhost
