---
{{ ansible_managed | comment }}
version: '{{ compose_version }}'
services:
  {{ service }}:
    image: {{ registry.url }}/jenkins:{{ version }}
    # healthcheck:
    # test: ['CMD', 'curl', '-f', 'http://localhost:8080/login']
    deploy:
      labels:
        {{ traefik_default_labels }}
    volumes:
      - type: volume
        source: config
        target: /var/jenkins_home
    networks:
      - {{ traefik_network }}

volumes:
  config:

networks:
  {{ traefik_network }}:
    external: true