---
version: '1.0.4'
dns:
  fe: meal.{{ lan }}
exposed_port: 80
zfs:
  staticfiles: tandoor/staticfiles
  mediafiles: tandoor/mediafiles
  psql_dump: tandoor/psql_dump

secret_key: '{{ vault_secret_key }}'
db_pass: '{{ vault_db_pass }}'
healthcheck_url: '{{ vault_healthcheck_url }}'
