---
{{ ansible_managed | comment }}
version: '{{ compose_version }}'
services:
  redis:
    image: redis:6
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
    networks:
      - default

  db:
    image: mariadb:10.5
    healthcheck:
      test: ['CMD', 'mysqladmin', '-p$$MYSQL_ROOT_PASSWORD', 'ping']
    command: --transaction-isolation=READ-COMMITTED --binlog-format=ROW
    environment:
      - MYSQL_ROOT_PASSWORD={{ db_root_pass }}
      - MYSQL_PASSWORD={{ db_pass }}
      - MYSQL_DATABASE={{ service }}
      - MYSQL_USER={{ service }}
    volumes:
      - type: volume
        source: mysql
        target: /var/lib/mysql
      {{ remote_volume }}
        source: mysql_dump
        target: /dump
    networks:
      - default
    deploy:
      rollback_config:
        order: stop-first

  cron:
    image: nextcloud:{{ version }}
    volumes:
      - type: volume
        source: app
        target: /var/www/html
      {{ remote_volume }}
        source: data
        target: /mnt/nextcloud
    entrypoint: /cron.sh
    networks:
     - default

  {{ service }}:
    image: nextcloud:{{ version }}
    # healthcheck:
      # test: ['CMD', 'curl', '-f', 'http://localhost/cron.php']
    volumes:
      - type: volume
        source: app
        target: /var/www/html
      {{ remote_volume }}
        source: data
        target: /mnt/nextcloud
      {{ remote_volume }}
        source: archive
        target: /mnt/archive
    networks:
      - {{ traefik_network }}
      - default
    environment:
            # - APACHE_DISABLE_REWRITE_IP=1
            # - TRUSTED_PROXIES=172.30.0.0/16
      - REDIS_HOST=redis
      - MYSQL_PASSWORD={{ db_pass }}
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
      - MYSQL_HOST=db
      - OVERWRITEHOST={{ dns.fe }}
      - OVERWRITEPROTOCOL=https
      - NEXTCLOUD_DATA_DIR=/mnt/nextcloud
      - PHP_MEMORY_LIMIT=12G
      - PHP_UPLOAD_LIMIT=12G
    deploy:
      labels:
        {{ traefik_default_labels }}

networks:
  {{ traefik_network }}:
    external: true

volumes:
  app:
  data:
    {{ nfs_volume }}
      device: ':/{{ zfs_pool }}/{{ zfs.data }}'
  mysql:
  mysql_dump:
    {{ nfs_volume }}
      device: ':/{{ zfs_pool }}/{{ zfs.mysql_dump }}'
  archive:
    {{ nfs_volume }}
      device: ':/{{ zfs_pool }}/archive'