---
- set_fact:
    service: '{{ role_name }}'
  tags: ['jenkins', 'jenkins-build']

- block:
    - name: Generate Dockerfile
      copy:
        src: 'Dockerfile'
        dest: 'Dockerfile'

    - name: Log into my registry
      docker_login:
        registry_url: '{{ registry.url }}'
        username: admin
        password: '{{ registry.pass }}'
        reauthorize: yes

    - name: Build an image and push it to a private repo
      docker_image:
        build:
          path: '.'
        name: '{{ registry.url }}/jenkins'
        force_source: true
        force_tag: true
        push: true
        tag: '{{ version }}'
        source: build

  delegate_to: localhost
  tags: ['never', 'jenkins-build']

- block:
    - name: Log into my registry
      docker_login:
        registry_url: '{{ registry.url }}'
        username: admin
        password: '{{ registry.pass }}'
        reauthorize: yes

    - name: Pull my custom image
      docker_image:
        name: '{{ registry.url }}/jenkins'
        tag: '{{ version }}'
        source: pull
        force_source: true

    - import_role:
        name: services
        tasks_from: prepare

    - import_role:
        name: services
        tasks_from: uplift

  tags: jenkins
