---
{{ ansible_managed | comment }}
version: "{{ compose_version }}"
services:
  {{ service }}:
    image: lissy93/dashy:{{ version }}
    volumes:
      - {{ service_path }}/config.yml:/app/public/conf.yml:ro
      - {{ service_path }}/icons:/app/public/item-icons:ro
    healthcheck:
      test: ["CMD", "yarn", "health-check"]
      interval: 10s
    deploy:
      labels:
        {{ traefik_default_labels }}
        - 'traefik.http.routers.{{ service }}.middlewares=authelia@docker'
    networks:
      - {{ traefik_network }}

networks:
  {{ traefik_network }}:
    external: true
