---
{{ ansible_managed | comment }}
version: '{{ compose_version }}'
services:
  {{ service }}:
    image: linuxserver/jellyfin:{{ version }}
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://localhost:8096']
    volumes:
      - type: volume
        source: config
        target: /config
      {{ remote_volume }}
        source: content
        target: /mnt/content
      {{ remote_volume }}
        source: archive
        target: /mnt/archive
    deploy:
      labels:
        {{ traefik_default_labels }}
    networks:
      - {{ traefik_network }}
    dns:
      - 1.1.1.1

volumes:
  config:
  content:
    {{ nfs_volume }}
      device: ':/{{ zfs_pool }}/content'
  archive:
    {{ nfs_volume }}
      device: ':/{{ zfs_pool }}/archive'

networks:
  {{ traefik_network }}:
    external: true
