---
{{ ansible_managed | comment }}
version: '{{ compose_version }}'
services:
  {{ service }}:
    image: linuxserver/jellyfin:{{ version }}
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://localhost:8096']
    volumes:
      {{ volume_nocopy }}
        source: {{ service }}_config
        target: /config
      {{ volume_nocopy }}
        source: {{ service }}_content
        target: /mnt/content
    deploy:
      {{ placement }}
      labels:
        {{ traefik_default_labels }}
    networks:
      - {{ traefik_network }}
    dns:
      - 1.1.1.1

volumes:
  {{ service }}_config:
    {{ nfs_volume }}
      device: ':/{{ zfs_pool }}/configs/{{ service }}'
  {{ service }}_content:
    {{ nfs_volume }}
      device: ':/{{ zfs_pool }}/content'

networks:
  {{ traefik_network }}:
    external: true
