---
{{ ansible_managed | comment }}
version: '{{ compose_version }}'
services:
  db:
    image: postgres:11-alpine
    env_file: {{ service_path }}/.env
    volumes:
      - type: volume
        source: psql
        target: /var/lib/postgresql/data
      {{ remote_volume }}
        source: psql_dump
        target: /dump
    networks:
      - default
    deploy:
      rollback_config:
        order: stop-first

  {{ service }}:
    image: vabene1111/recipes:{{ version }}
    env_file: {{ service_path }}/.env
    volumes:
      - type: bind
        source: {{ service_path }}/nginx.conf
        target: /opt/recipes/nginx/conf.d/default.conf
      - type: volume
        source: staticfiles
        target: /opt/recipes/staticfiles
      - type: volume
        source: mediafiles
        target: /opt/recipes/mediafiles
    networks:
      - default

  nginx:
    image: nginx:mainline-alpine
    env_file: {{ service_path }}/.env
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://localhost']
    volumes:
      - type: bind
        source: {{ service_path }}/nginx.conf
        target: /etc/nginx/conf.d/default.conf
        read_only: true
      - type: volume
        source: staticfiles
        target: /static
      - type: volume
        source: mediafiles
        target: /media
    networks:
      - {{ traefik_network }}
      - default
    deploy:
      labels:
        {{ traefik_default_labels }}

networks:
  {{ traefik_network }}:
    external: true

volumes:
  mediafiles:
  staticfiles:
  psql:
  psql_dump:
    {{ nfs_volume }}
      device: ':/{{ zfs_pool }}/{{ zfs.psql_dump }}'