---
discord_webhook_url: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  31373030303239626334663932333163353761366435636332653733346534396561333561343837
  3334326437333934373632613437366462333437646630350a623032626666363362306334383137
  37633334663463616663623435613666633636663962626332643133336233383633343838393865
  6362353466383035340a396563643736653464616432343664373739636166363630303962356630
  34393862373733666233393435626131346338336662376261323065303935666663393563643431
  31313061616461393663623031643265653430653366343835306161303234653361313430323734
  32396366623165363064646662656165366535383738336262376464303034643131353764333436
  30363261303032313237396463613231663763386662643334383039343536386134353166343766
  30646365356334333930393930643739353238646531303230383931353735363362373566636430
  3938376533396634373330373062363832633739613162656165

discord_alert: |
  alerts:
        - type: discord
          enabled: true
          send-on-resolved: true

default_check: |
  {{ discord_alert }}
      conditions:
        - '[STATUS] == 200'
