---
{{ ansible_managed | comment }}
version: '{{ compose_version }}'
services:
  {{ service }}:
    image: ghcr.io/linuxserver/qbittorrent:{{ version }}
    volumes:
      - type: volume
        source: app
        target: /config
      {{ remote_volume }}
        source: downloads
        target: /downloads
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Moscow
      - WEBUI_PORT={{ exposed_port }}
    deploy:
      labels:
        {{ traefik_default_labels }}
{# - 'traefik.http.routers.{{ service }}.middlewares=authelia@docker' #}
    ports:
      - target: 51413
        published: 51413
      - target: 51413
        published: 51413
        protocol: udp
    networks:
      - {{ traefik_network }}

volumes:
  app:
  downloads:
    {{ nfs_volume }}
      device: ':/{{ zfs_pool }}/seedbox'

networks:
  {{ traefik_network }}:
    external: true
