---
{{ ansible_managed | comment }}
version: '{{ compose_version }}'
services:
  {{ service }}:
    image: ghcr.io/linuxserver/qbittorrent:{{ version }}
    volumes:
      {{ volume_nocopy }}
        source: {{ service }}_app
        target: /config
      {{ volume_nocopy }}
        source: {{ service }}_downloads
        target: /downloads
    environment:
      - WEBUI_PORT=8080
    deploy:
      {{ placement }}
      labels:
        {{ traefik_default_labels }}
    ports:
      - target: 51413
        published: 51413
      - target: 51413
        published: 51413
        protocol: udp
    networks:
      - {{ traefik_network }}

volumes:
  {{ service }}_downloads:
    {{ nfs_volume }}
      device: ':/{{ zfs_pool }}/seedbox'
{% for (key,value) in zfs.items() %}
  {{ service }}_{{ key }}:
    {{ nfs_volume }}
      device: ':/{{ zfs_pool }}/{{ value }}'
{% endfor %}

networks:
  {{ traefik_network }}:
    external: true
