---
{{ ansible_managed | comment }}
version: '{{ compose_version }}'
services:
  {{ service }}:
    image: syncthing/syncthing:{{ version }}
    volumes:
      {{ remote_volume }}
        source: config
        target: /var/syncthing
      {{ remote_volume }}
        source: data
        target: /sync
    deploy:
      labels:
        {{ traefik_default_labels }}
        - 'traefik.http.routers.{{ service }}.middlewares=authelia@docker'
    networks:
      - {{ traefik_network }}
    dns:
      - 1.1.1.1

volumes:
  config:
    {{ nfs_volume }}
      device: ':/{{ zfs_pool }}/{{ zfs.app }}'
  data:
    {{ nfs_volume }}
      device: ':/{{ zfs_pool }}/{{ zfs.data }}'

networks:
  {{ traefik_network }}:
    external: true
