---
version: 'latest-2021-06-22'
dns: 
  fe: rss.{{ domain }}
exposed_port: 80
zfs:
  postgres_dump: ttrss/postgres_dump
healthcheck_url: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  64353435663236333365306634343066653639663166373762643930616438633864393337316336
  3132626235303730376366636639353430623432366361650a613836656439393163356432333331
  35363037303235306330373564383035613664656561666131333030623833623765633633623966
  3566353663663332650a333465333464393364393465646136613936343465646337336363386434
  39353764663734373431666431653738653061353039386438663433633532646362626133656232
  33393564343338666464326632613165383737663536303832353631633262626365356635376662
  616531346162626463616636646135616265
db_pass: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  31633962336165366233383466326466626664363563343930613433336238333062376263396631
  6439343738356132343165313931306530323961343538310a393337366538336330376232326263
  64633461303135653433333864303832663330346337333664643632373432333864333535393862
  3834653635666233380a396230646263396561366331343737616230313431313735623930336138
  64653238613137383532346432356333353764396638386462323862336266393132
