---
version: '1' # I'm using my custom dockerfile
dns: 
  fe: ci.{{ lan }}
exposed_port: 8080
zfs:
  app: configs/jenkins
healthcheck_url: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  64313263653565316630303832623662663631366331303038313365636162393833616234613830
  6366316236646533653538616233626338386461333338330a666363396365633434383335316464
  61353361616332643536643034656434393739646538643038643161343461326363373933643637
  3062636233663161380a663239336534666531333234623631626263326332666463366663353765
  30386363333465636564666239376665356234653638366234656530646133363434643639633364
  33313739656634643139366134636232396266613139316134326364316562613366333631366462
  666664313762333065303230373739623334
