---
- block:
    - name: Set correct hostname
      hostname:
        name: '{{ inventory_hostname }}'

    - name: Install packages
      apt:
        name: '{{ item }}'
        update_cache: true
      loop:
        - python3-pip
        - python3-docker
        - apt-transport-https
        - ca-certificates
        - curl
        - gnupg
        - lsb-release

    - name: Add Docker GPG apt Key
      apt_key:
        url: https://download.docker.com/linux/ubuntu/gpg
        state: present

    - name: Add Docker Repository
      apt_repository:
        repo: 'deb https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable'
        state: present

    - name: Install Docker
      apt:
        name: '{{ item }}'
        update_cache: true
      loop:
        - docker-ce
        - docker-ce-cli
        - containerd.io

    - name: Install docker related pip packages
      pip:
        name:
          - jsondiff # for docker stack deploy

    - name: Adding me to docker group
      user:
        name: 'wunder'
        groups: docker
        append: yes

    - name: Create docker daemon.json
      set_fact:
        daemon_json:
          'metrics-addr': '0.0.0.0:9323'
          'experimental': true

    - name: Write daemon.json
      copy:
        content: '{{ daemon_json | to_nice_json }}'
        dest: /etc/docker/daemon.json
      register: new_config

    - name: Restart docker service
      service:
        name: docker
        state: restarted
      when: new_config.changed

  become: true
  when: "'docker' in group_names"
