---
- import_role:
    name: host_setup
    tasks_from: docker

- block:
    - name: Init docker swarm
      docker_swarm:
        state: present
      register: swarm_info
      when: "'edge' in group_names"

    - name: Attach workers to swarm
      docker_swarm:
        state: join
        join_token: "{{ hostvars[groups['edge'][0]]['swarm_info']['swarm_facts']['JoinTokens']['Worker'] }}"
        remote_addrs: ["{{ groups['edge'][0] }}"]
      when: "'worker' in group_names"

    - name: Create public network
      docker_network:
        name: '{{ traefik_network }}'
        driver: overlay
        attachable: true
        force: false
      when: "'edge' in group_names"

    - name: Set edge node label
      docker_node:
        hostname: '{{ inventory_hostname }}'
        labels:
          scope: edge
      when: "'edge' in group_names"

    - name: Set compute node label
      docker_node:
        hostname: '{{ inventory_hostname }}'
        labels:
          scope: compute
      delegate_to: "{{ groups['edge'][0] }}"
      when: "'compute' in group_names"

    - name: Set db node label
      docker_node:
        hostname: '{{ inventory_hostname }}'
        labels:
          scope: db
      delegate_to: "{{ groups['edge'][0] }}"
      when: "'db' in group_names"

  become: true
