---
- name: Set {{ service }} dir path
  set_fact:
    service_path: '{{ root_path }}/{{ service }}'

- block:
    - name: Create {{ service }} directory on the edge
      file:
        path: '{{ service_path }}'
        state: directory
        owner: '{{ ansible_env.USER }}'
        group: '{{ ansible_env.USER }}'
      become: true
      when: service_backup is not defined

    - name: Generate {{ service }} compose file
      template:
        src: '{{ service }}.service.yml.j2'
        dest: '{{ service_path }}/{{ service }}.service.yml'
      when: service_backup is not defined

    - name: Deploy {{ service }} stack
      docker_stack:
        state: present
        name: '{{ service }}'
        compose:
          - '{{ service_path }}/{{ service }}.service.yml'
        with_registry_auth: true
      register: stack_deployed
      become: true

  delegate_to: "{{ groups['edge'][0] }}"
