---
{{ ansible_managed | comment }}
version: "{{ compose_version }}"
services:
  {{ service }}:
    image: nginx
    volumes:
      - type: bind
        source: {{ service_path }}/site
        target: /usr/share/nginx/html
        read_only: true
    deploy:
      labels:
        {{ traefik_default_labels }}
    networks:
      - {{ traefik_network }}

networks:
  {{ traefik_network }}:
    external: true
