---
- set_fact:
    service: '{{ role_name }}'

- import_role:
    name: services
    tasks_from: prepare

- name: Generate config
  template:
    src: 'config.yml.j2'
    dest: '{{ service_path }}/config.yml'
  notify:
    - restart_main_service

- import_role:
    name: services
    tasks_from: uplift
