---
admin_pass: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  39303633333065653039316562333235646638633731646263386262303163623635633362646565
  3239653432643466633963663238333536386633653563330a633566396137633130613061653131
  32346364373333313932386535623534353137386439303237623362396466636232326635303365
  3438373762356437300a643932376632616131313861366365373634303130613233653932613931
  61633137633134643063646465663533316364613366623533366361623961636235

db_pass: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  34363037646364623765663061626561373730633735653861663732353738633862383362386266
  6166333364616266363063343738656630656665363162350a653533353961306639363662346638
  36306466373062613337363366393661343438633963643138353633613765323933666561393862
  3033633336336663360a613031616230366166633534646130326434646464386564366234396163
  33333431356361396531646632633230333836376231313336313036653831356361
