---
version: '1.4.5'
dns: paper.{{ lan }}
exposed_port: 8000
zfs:
  app: paperless/app
  db: paperless/db
  docs: paperless/docs

db_pass: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  37376638663230396630356366336535306166333333623532376234656437343364356664316430
  3435623764653339646631623232653732343130376438350a383362363035376238333565343038
  32366138613563653639663235363032336165346535346365636131383539636164653437366631
  3531666139386634630a333637363166633038366164633163616634396462626130343636653563
  31306236363665353931313863623434373063363361666364663063363730626339
secret_key: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  37383130666363373237383766353861646238383037336461646135643434373531393935326336
  6532623665353530653130666364653836383335323862630a363236353366376530396261633530
  30663433306166323132326536393230316532383837323334346533613066373239316130353064
  3232623863663364610a316135613033373137636463323362633335303434343861373336306561
  36646463333333383463656235303735386230343534323437633863643334356238636231356662
  6431323636633135373030656464326631623430333535393330
