---
version: '1.5.0'
dns:
  fe: paper.{{ lan }}
exposed_port: 8000

zfs:
  docs: paperless/docs
  app: paperless/app
  postgres_dump: paperless/postgres_dump

db_pass: '{{ vault_db_pass }}'
healthcheck_url: '{{ vault_healthcheck_url }}'
secret_key: '{{ vault_secret_key }}'
