---
{{ ansible_managed | comment }}
version: '{{ compose_version }}'
services:
  {{ service }}:
    image: wunderwaffla/rss-my-ass:latest
    environment:
      - TOKEN={{ telegram_bot_token }}
      - RSS_BRIDGE=rss-my-ass.ga
    deploy:
      {{ placement }}
