---
{{ ansible_managed | comment }}
version: '{{ compose_version }}'
services:
  {{ service }}:
    image: rssbridge/rss-bridge:{{ version }}
    volumes:
      - type: bind
        source: {{ service_path }}/whitelist.txt
        target: /app/whitelist.txt
        read_only: true
    networks:
      - {{ traefik_network }}
    deploy:
      {{ placement }}
      labels:
        {{ traefik_default_labels }}
        - 'traefik.http.routers.{{ service }}.service={{ service }}'
        - 'traefik.http.routers.{{ service }}.middlewares=authelia@docker'
        - 'traefik.http.routers.{{ service }}-pub.rule=Host(`{{ dns.public }}`) && Query(`action=display`)'
        - 'traefik.http.routers.{{ service }}-pub.service={{ service }}'
        - 'traefik.http.routers.{{ service }}-pub.tls=true'
        - 'traefik.http.routers.{{ service }}-pub.entrypoints=https'
        - 'traefik.http.services.{{ service }}-pub.loadbalancer.server.port={{ exposed_port }}'

networks:
  {{ traefik_network }}:
    external: true